p, h1,h5,h6{
    font-family: "Urbanist", sans-serif;
}
h1,h5,h6 {
    font-weight: bold;
}

.bi {
    padding-right: 5px;
}

.card {
    max-width: 16rem;
    margin:5px;
}

footer {
    margin-top: 30px;
    margin: 30px 0px 0px 50px;
}

.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.store {
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    flex-wrap: wrap;
}

.avatar {
    display: flex;
  align-items: center;
  text-align: center;
    padding: 1px;
    border-radius: 100%;
    width:25px;
    height:25px;
    border: 3px solid green; /* Online color */
    transition: border-color 0.3s;
}

.avatar.offline {
    border-color: grey; /* Offline color */
}

.notification {
    padding: 10px;
    border-bottom: 1px solid #eee;
}
.unread {
    font-weight: bold;
    background-color: #f0f8ff;
}

@media screen and (max-width: 720px) {
    #notificationMenu {
        font-size: small;
        width:20%;
    }
    h4 {
        text-align: center;
    }
}